module docker-in-docker 1.0;

require {
	type container_t;
	type container_var_run_t;
	type container_runtime_t;
	class sock_file { getattr write };
	class unix_stream_socket connectto;
}

allow container_t container_var_run_t:sock_file { getattr write };
allow container_t container_runtime_t:unix_stream_socket connectto;
